@import "../../../vendor/bootstrap-5.2.2/scss/functions";
@import "../../core/bootstrap_variables";
@import "../../../vendor/bootstrap-5.2.2/scss/variables";
@import "../../../vendor/bootstrap-5.2.2/scss/mixins/_breakpoints";
@import "../../core/site_variables";

.breadcrumbs{
  border: 2px solid var(--wp--preset--color--fl-green);
  border-radius: 30px;
  margin: 30px 0;
  padding: 0px 20px 0px;
  display: inline-block;

  @include media-breakpoint-down(md){
    border: 1px solid var(--wp--preset--color--fl-green);
    border-radius: 20px;
    margin: 16px 0;
    padding: 0px 16px 5px;
  }

  .item{
    display: inline-block;
    color: var(--wp--preset--color--background);
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid var(--wp--preset--color--fl-green);
    font-weight: 500;
    font-size: 18px;
      line-height: 18px;

    @include media-breakpoint-down(md){
      font-size: 12px;
      line-height: 12px;
    }

    a{
      color: var(--wp--preset--color--fl-white);
      text-decoration: none;

      &:hover{
        color: var(--wp--preset--color--fl-green);
      }
    }


    &:last-child{
      border-right: none;
      margin: 0;
      padding: 0;
    }
  }
}




.single-case-study{
  .page-hero{
    .breadcrumbs{
      .item{
        color: var(--wp--preset--color--fl-black);
        a{
          color: var(--wp--preset--color--fl-black);
    
          &:hover{
            color: var(--wp--preset--color--fl-green);
          }
        }
      }
    }
  }
}