@import "../../../vendor/bootstrap-5.2.2/scss/functions";
@import "../../core/bootstrap_variables";
@import "../../../vendor/bootstrap-5.2.2/scss/variables";
@import "../../../vendor/bootstrap-5.2.2/scss/mixins/_breakpoints";
@import "../../../vendor/bootstrap-5.2.2/scss/mixins/_border-radius";
@import "../../../vendor/bootstrap-5.2.2/scss/mixins/_box-shadow";
@import "../../core/site_variables";
@import "../../../vendor/bootstrap-5.2.2/scss/_card";


.content-layout-6{
  position: relative;
  padding: $sectionPadding 0px ;
  @import "../clone/section-padding";
  
  .container,
  .container-fluid{
    position: relative;
    z-index: 10;
  }  

  h3{
    font-size: $font-size-base * 1.5;
    font-weight: 400;
  }
  
  .card{
    margin: 0px;
    padding: 15px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    .card-img-top{
      position: relative;
      border-radius: 0;
      padding: 0px;
      height: 50%;
      width: 100%;

      @include media-breakpoint-down(md){
        height: 200px;
      }

      img{
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
    .card-body{
      position: relative;
      border: none;
      border-radius: 0px;
      padding: 30px 20px;

      .bar{
        left: 50%;
        transform: translate(-50%, 0);
        height: 10px;
          width: 30%;
          display: block;
          position: absolute;
          top: -5px;
        &-green{
          background-color: var(--wp--preset--color--fl-green);
        }
      }
      .card-title{
        font-size: $font-size-base * 1;
        padding: 0 0 .75rem 0;
      }
      .card-text{
        font-size: $font-size-base * .9;
        line-height: $font-size-base * 1.1;
      }
      p,li{
        font-size: $font-size-base * .9;
        line-height: $font-size-base * 1.1;
      }
      .wp-block-buttons {
        .wp-block-button{
          &:after{
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 2px;
            left: -5%;
            width: 110%;
            height: 36%;
            clip-path: polygon(2% 0, 100% 0, 98% 99%, 0 100%);
          }

          $buttonSize: 20px;
          .wp-block-button__link{
            font-size: $buttonSize;
            line-height: $buttonSize;
            color: var(--wp--preset--color--fl-white);
      
            @include media-breakpoint-down(xxl){
              font-size: $buttonSize * .9;
              line-height: $buttonSize * .9;
            }
            @include media-breakpoint-down(xl){
              font-size: $buttonSize * .8;
              line-height: $buttonSize * .8;
            }
            @include media-breakpoint-down(md){
              font-size: $buttonSize * .75;
              line-height: $buttonSize * .75;
            }
            @include media-breakpoint-down(xss){
              font-size: $buttonSize * .5;
              line-height: $buttonSize * .5;
            }
          }
        }
      }

      &-default{
        background: var(--wp--preset--color--fl-light-blue);
        .card-title{
          color: var(--wp--preset--color--fl-white)!important;
        }
        .card-text{
          color: var(--wp--preset--color--fl-white)!important;
        }
        p,li{
          color: var(--wp--preset--color--fl-white)!important;
        }
        .wp-block-buttons {
          .wp-block-button{
            &:after{
              content: '';
              background: var(--wp--preset--color--fl-green);
            }
            &:hover{
              color: var(--wp--preset--color--fl-dark-blue);
              &:after{
                content: '';
                background: var(--wp--preset--color--fl-light-light-blue);
              }
            }
            .wp-block-button__link{
              color: var(--wp--preset--color--fl-white);
            }
          }
        }
      }
      &-light{
        background: var(--wp--preset--color--fl-tan);
        .card-title{
          color: var(--wp--preset--color--fl-black)!important;
        }
        .card-text{
          color: var(--wp--preset--color--fl-black)!important;
        }
        p,li{
          color: var(--wp--preset--color--fl-black)!important;
        }
        .wp-block-buttons {
          .wp-block-button{
            &:after{
              content: '';
              background: var(--wp--preset--color--fl-green);
            }
            &:hover{
              color: var(--wp--preset--color--fl-dark-blue);
              &:after{
                content: '';
                background: var(--wp--preset--color--fl-light-light-blue);
              }
            }
            .wp-block-button__link{
              color: var(--wp--preset--color--fl-black);
            }
          }
        }
      }
      &-dark{
        background: var(--wp--preset--color--fl-dark-blue);
        .card-title{
          color: var(--wp--preset--color--fl-white)!important;
        }
        .card-text{
          color: var(--wp--preset--color--fl-white)!important;
        }
        p,li{
          color: var(--wp--preset--color--fl-white)!important;
        }
        .wp-block-buttons {
          .wp-block-button{
            &:after{
              content: '';
              background: var(--wp--preset--color--fl-green);
            }
            &:hover{
              color: var(--wp--preset--color--fl-blue);
              &:after{
                content: '';
                background: var(--wp--preset--color--fl-light-light-blue);
              }
            }
            .wp-block-button__link{
              color: var(--wp--preset--color--fl-white);
            }
          }
        }
      }
    }
  }

  .content-layout-6-top{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
  }
}


