@import "../../../vendor/bootstrap-5.2.2/scss/functions";
@import "../../core/bootstrap_variables";
@import "../../../vendor/bootstrap-5.2.2/scss/variables";
@import "../../../vendor/bootstrap-5.2.2/scss/mixins/_breakpoints";
@import "../../core/site_variables";

.image-section{
  position: relative;
  padding: $sectionPadding 0px ;
  overflow-x: hidden;
  @import "../clone/section-padding";

  &.move-up{
    top: -120px;
    margin-bottom: -120px;
    z-index: 0;

    @include media-breakpoint-down(lg){
      top: -90px;
      margin-bottom: -90px;
    }
    @include media-breakpoint-down(md){
      top: -45px;
      margin-bottom: -45px;
    }
  }

  .image-wrap{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: auto; 
    }
  }

}